.emoji-wrapper {
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 7px;
}

.emoji {
  cursor: pointer;
  font-size: 15px;
}

.button {
  margin-right: 7px;
  border: none;
  cursor: pointer;
}
