.input > input {
  font-size: 14px;
}

.input > input::placeholder {
  font-size: 14px;
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.right input[type='file'] {
  display: none;
}
button.send {
  padding: 0;
  background-color: #fff;
  cursor: pointer;
  border: none;
}
