.main {
  position: relative;
  flex: 1 0 auto;
  background-color: #fff;
  height: 150px;
  overflow-y: scroll;
  padding: 0px 24px;
}

.mark {
  height: 1px;
  width: 1px;
  background-color: white;
  position: relative;
  display: inline-block;
  bottom: 100px;
  z-index: -5;
}
