::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: #f2f2f7;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

[ant-click-animating-without-extra-node='true']::after {
  display: none !important;
}

/* .ant-btn:focus,
.ant-btn.focus {
  display: none !important;
} */
